@charset "UTF-8";

body{
    position: relative;
    height: 97vh;
    background-color: white;
    background-image: url(imagens/espaco.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main img{
   position: absolute;
   max-width: 600px;
   min-width: 400px;
   

   top: 50%;
   left: 50%;

   transform: translate(-50%,-50%);
}